<div class="container">
    <div class="row">
		<div class="col-md-8">
			<h2 class="section-headline"><span>My Account</span></h2>
		</div>
	</div>

	<hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1;" />

    <div class="row" style="margin-top:10px;">
        <div class="col-md-10 offset-md-1">
            <div class="panel-group">
                <div class="panel panel-default panel-faq" style="border:none;">
                    <div class="panel-body" style="background-color: #ededed; margin-top:20px;">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Login">
                                <app-login></app-login>
                            </mat-tab>
                            <mat-tab label="Signup">
                                <app-signup></app-signup>
                            </mat-tab>
                            <mat-tab label="Forget password">
                                <app-forget-password></app-forget-password>
                            </mat-tab>
                          </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>