<form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" style="margin-top: 10px;">

    <div class="form-group">
        <div class="row">
            <div class="col-sm-7">
                <input type="text"
                    [ngClass]="{'invalid-feedback' : passwordForm.get('email').errors && passwordForm.get('email').touched}"
                    class="form-control" formControlName="email" placeholder="email">

                <div class="invalid-feedback"
                    *ngIf="passwordForm.get('email').hasError('required') && passwordForm.get('email').touched">
                    email required
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <a [routerLink]="['/home']" class="button-cancel btn btn-danger">Cancel</a>&nbsp;
                <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>