
<form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">

    <div class="form-group">
        <div class="col-sm-7">
            <input type="text"
                [ngClass]="{'invalid-feedback' : passwordForm.get('email').errors && passwordForm.get('email').touched}"
                class="form-control" formControlName="email" placeholder="email">

            <div class="invalid-feedback"
                *ngIf="passwordForm.get('email').hasError('required') && passwordForm.get('email').touched">
                email required
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row" style="margin-left: 3px;">
            <div class="col-sm-1">
                <a [routerLink]="['/home']" class="button-cancel btn btn-danger">Cancel</a>
            </div>
            <div class="col-sm-1">
                <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>