<table class="table table-condensed">
    <tr class="">
        <th style="white-space: nowrap;">First name</th>
        <th style="white-space:nowrap;width:1px;"> : </th>
        <td>{{dto.firstName}}</td>
    </tr>
    <tr class="active">
        <th style="white-space: nowrap;">Last name</th>
        <th style="white-space:nowrap;width:1px;"> : </th>
        <td>{{dto.lastName}}</td>
    </tr>
    <tr class="">
        <th style="white-space: nowrap;">User name</th>
        <th style="white-space:nowrap;width:1px;"> : </th>
        <td>{{dto.username}}</td>
    </tr>
    <tr class="active">
        <th style="white-space: nowrap;">Email</th>
        <th style="white-space:nowrap;width:1px;"> : </th>
        <td>{{dto.email}}</td>
    </tr>
</table>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner> -->